<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Samsung RTL LAB</title>
  <meta name="description" content="" />

  <meta name="Robots" content="INDEX,ALL" />
  <meta name="YahooSeeker" content="INDEX, FOLLOW" />
  <meta name="msnbot" content="INDEX, FOLLOW" />
  <meta name="googlebot" content="INDEX, FOLLOW" />
  <meta name="allow-search" content="yes" />
  <meta name="revisit-after" content="daily" />
  <meta name="Rating" content="General" />
  <meta name="site" content="https://www.example.com" />
  <meta name="distribution" content="global" />
  <meta name="Copyright" content="" />
  <meta name="theme-color" content="#0e5354" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="shortcut icon"
        href="https://d1pvztg5l1c6ig.cloudfront.net/20160204181709/favicon.png"
        type="image/x-icon" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="appInit" class="container-fluid">
    <div>
      <%- html %>
    </div>
  </div>
  <script>
    window.__INITIAL_STATE__ = <%- script %>
  </script>
  <script src="/js/index.js"></script>
</body>

</html>
